{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <title>Регистрация</title>
</head>

<body>
    <!-- Меню -->
    <header class="new-menu">
        <div class="menu-content">
            <!-- Логотип -->
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'image/logo.png' %}" alt="Логотип" width="160" height="120">
                </a>
            </div>

            <!-- Кнопки меню -->
            <div class="menu-buttons">
                <a href="{% url 'index' %}#about" class="auth-btn">О проекте</a>
                <a href="{% url 'add-ticket' %}" class="auth-btn">Оставить заявку</a>
                <a href="{% url 'tickets' %}" class="auth-btn">Ваш профиль</a>
            </div>

            <!-- Кнопки -->
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="auth-btn">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="auth-btn">Авторизация</a>
                {% endif %}
            </div>
        </div>
    </header>


    <!-- Основной контент страницы -->
    <div class="wrapper">
        <div class="text"><h1>Регистрация</h1></div>
    </div>

    <div class="form-container">

        <!-- Форма авторизации -->
        <form method="POST" class="signup-form my-form">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Флажок "Согласие на обработку данных" -->
            <div class="consent-checkbox">
                <input type="checkbox" id="consent" name="consent" required>
                <label for="consent">Согласие на обработку данных</label>
            </div>

            <div class="b-reg">
                <button type="submit" class="btn"><h3>Зарегистрироваться</h3></button>
            </div>
        </form>
    </div>

    <!-- Подвал -->
    <footer class="footer">
        <div class="footer-content">
            <!-- Логотип и копирайт -->
            <div class="footer-logo">
                <img src="{% static 'image/logo.png' %}" alt="Логотип">
                <p class="copyright">©СЛВ 2022-2025</p>
            </div>

            <!-- Контактная информация -->
            <div class="footer-contact">
                <p>clv@gmail.com</p>
                <p>+7 (968) 714-4502</p>
            </div>
        </div>
    </footer>
</body>

</html>